<div class="main-container">
    <h1 class="title">Game Over</h1>
    <div class="image">
        <img class="custom-image" src="/assets/game/lose_3.png" alt="image not found"/>
    </div>
    <div class="score-area">
        <h2>Total score<br>{{data.point}}</h2>
    </div>
  <app-button [setCenter]="true" [title]="'Show Words'" [image]="null" (onClick)="showWord()"></app-button>
  <!--Bottone per toneare alla home-->
    <app-button [setCenter]="true" [colorSchema]="colorButton" [title]="'HOME'" [image]="'house-button'" (onClick)="goToHome()"></app-button>
</div>
