@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"), url(src/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype");
}

.board-container {
  width: 172px;
  height: 67px;
  background-size: cover;
  position: relative;
}
.board-title {
  width: 172px;
  font-size: 29px;
  position: absolute;
  top: 100%;
  text-align: center;
  transform: translateY(-100%);
  font-family: 'Orbitron', serif;
  padding-bottom: 6px;
}
