<div style="height:100vh">
    <div class="row top-container" >
        <div class="col-10">
            <div class="container-username">
              <p class="username">{{username}}</p>
            </div>
            <div class="background-letter">
              <img class="custom-image" src="/assets/home/new-moon.png" alt="image not found"/>
              <h1 class="letter-name">{{charUsername}}</h1>
            </div>
        </div>
        <div class="col-2">
            <div class="row button-area">
                <!--<div class="button">
                    <img class="small-image" src="/assets/home/settings.png" alt = "image not found">
                </div>-->
                <div class="button">
                    <img  class="small-image" src="/assets/home/logout.png" alt = "image not found">
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="title-box">
            <h1 class="title">Gamery</h1>
        </div>
        <div class="row center-area">
            <div class="home-box col-4">
                <h1 class="mText">New Game</h1>
                <div class="container-play">
                    <div class="play-button">
                        <h2 class="play-text">PLAY</h2>
                    </div>
                </div>
            </div>     
        </div>

    </div>
</div>
