<div style="height:100vh">
    <div class="row top-container" >
        <div class="col-10">
            <div class="container-username">
              <p class="username">LeoLazza</p>
            </div>
            <div class="background-letter">
              <img class="custom-image" src="/assets/home/new-moon.png" alt="image not found"/>
              <h1 class="letter-name">L</h1>
            </div>
        </div>
        <div class="col-2">
            <div class="row button-area">
                <div class="button">
                    <img class="small-image" src="/assets/home/settings.png" alt = "image not found">
                </div>
                <div class="button">
                    <img  class="small-image" src="/assets/home/logout.png" alt = "image not found">
                </div>
            </div>
        </div>
    </div>
    <div class="row mainContainer">
        <div class="box">

        </div>     
    </div>
</div>
