@font-face {
    font-family: "Exo2";
    src: local("Exo2"), url(../../assets/fonts/Exo_2/static/Exo2-Regular.ttf)    format("truetype");
}

.mainContainer{
  background-color: #08273F;
  height: 70px;
  padding: 10px;
}

.customImage{
    position:absolute;
    width: 46px;
    height: 46px;
}

.labelName{
    position: absolute;
    min-width: 100px;
    top: 10px;
    left: 30px;
    margin: 0;
    padding: 5px 5px 5px 20px;
    background-color: white;
    color: black;
    font-size: 16px;

    border-radius: 8px;
}

.containerUsername {
  position: fixed;
  height: 49px;
}

.username {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
  height: 35px;
  background: #fff;
  border-radius: 10px;
  margin-left: 25px;
  padding: 5px 20px 0 30px;
  font-family: "Exo2", serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

.backgroundLetter {
  position: fixed;
  width: 46px;
  height: 46px;
}

.letterName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Exo2", serif;
}
