<div style="height:100vh">
    <div class="row topContainer" >
        <div class="col-10">
            <div class="containerUsername">
              <p class="username">LeoLazza</p>
            </div>
            <div class="backgroundLetter">
              <img class="customImage" src="/assets/home/new-moon.png" alt="image not found"/>
              <h3 class="letterName">L</h3>
            </div>
        </div>
        <div class="col-2">
            <div class="row buttonArea">
                <div class="button">
                    <img class="smallImage" src="/assets/home/settings.png" alt = "image not found">
                </div>
                <div class="button">
                    <img  class="smallImage" src="/assets/home/logout.png" alt = "image not found">
                </div>
            </div>
        </div>
    </div>
    <div class="row mainContainer">
        
    </div>
</div>
