<div class="main-container-home-ranking">
  <h1>Ranking</h1>
  <!--Scelta se la classifica è globale o locale-->
  <div class="row justify-content-center">
    <div class="col" align="center">
      <!--Bottone per la visualizzazione della classifica globale-->
      <app-card [width]="150" [showArrow]="false" [text]="'GLOBAL'" [image]="'./assets/userInfo/earth_globe.png'"></app-card>
    </div>
    <div class="col" align="center" [style.display]="user != null && user.country != null ? 'inline' : 'none'">
      <!--Bottone per la visualizzazione della classifica locale-->
      <app-card [width]="150" [showArrow]="false" [text]="'LOCAL'" [image]="userFlag"></app-card>
    </div>
  </div>
</div>
