<div class="main.container">
  <div class="close_button">
    <app-button [image]="null" (onClick)="close()"></app-button>
  </div>
  <div class="title">
    <div class="image">
      <img class="custom-image" src="./assets/home/settings_icon.png" alt="image not found"/>
    </div>
    <p>SETTINGS</p>
  </div>

    <div class="font_size">
      <label class="form-label my-text" >FONT SIZE</label>
    </div>
    <div class="volume">
      <label class="form-label my-text2" >VOLUME</label>
    </div>
    <div class="col sound">
      <label class="form-label my-text3" >SOUND</label>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

</div>
