<div style="height:100vh">
    <!--Nav bar per la gestione dei dati utente-->
    <app-nav-bar></app-nav-bar>
    <!--Contenuto della pagina home-->
    <div class="main-container">
        <div class="title-box">
            <h1 class="title">Gamery</h1>
        </div>
        <div class="row center-area">
            <div class="home-box col-4">
                <h1 class="mText">New Game</h1>
                <div class="container-play">
                  <app-button [setCenter]="true" [title]="'PLAY'" [colorSchema]="colorButton" [image]="'play-button'" (onClick)="onPlayClick()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
