<div>
  <label for="password" class="form-label mytext" >New password</label>
  <div class="input-group">
    <input type="password" class="form-control myinput" id="password" aria-describedby="basic-addon3" [(ngModel)]="password.value">
  </div>
  <p class="errormsg">{{password.error}}</p>
</div>

<div>
  <div class="row">
    <label for="passwordConfirm" class="form-label mytext col-4" >Confirm Password</label>
  </div>
  <div class="input-group">
    <input type="password" class="form-control myinput" id="passwordConfirm" aria-describedby="basic-addon3" [(ngModel)]="passwordConfirm.value">
  </div>
  <p class="errormsg" >{{passwordConfirm.error}}</p>
</div>
<div style="padding-top: 20px;">
  <app-button [setCenter]="true" [image]="null" [title]="'CONFIRM'" (onClick)="confirm()"></app-button>
  <app-button [setCenter]="true" [image]="null" [title]="'CANCEL'" [colorSchema]="colorCancel" (onClick)="cancel()"></app-button>
</div>
