<div class="row top-container" >
  <div class="col-10">
    <ng-container *ngIf="currentType !== 3">
      <div (click)="openUser()">
        <div class="container-username">
          <p class="username">{{userInfo === null ? 'Username' : userInfo.username}}</p>
        </div>
        <div class="background-letter">
          <img class="custom-image" src="./assets/navbar/new-moon.png" alt="image not found"/>
          <h1 class="letter-name">{{firstCharUsername === null ? '_' : firstCharUsername}}</h1>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-2">
    <div class="row button-area">
      <!--No logged-->
      <ng-container *ngIf="currentType === 0">
        <div class="col">
          <app-button [title]="'SETTINGS'" (click)="openSettings()" [image]="'settings_icon'" [colorSchema]="colorSchemaSettings"></app-button>
        </div>
        <div class="col">
          <app-button [title]="'LOGIN'" (click)="onLoginClick()" [image]="'login'" [colorSchema]="colorSchemaLogin"></app-button>
        </div>
      </ng-container>
      <!--Logged-->
      <ng-container *ngIf="currentType === 1">
        <div class="col">
          <app-button [title]="'SETTINGS'" (click)="openSettings()" [image]="'settings_icon'" [colorSchema]="colorSchemaSettings"></app-button>
        </div>
        <div class="col">
          <app-button [title]="'LOGOUT'" (click)="onLogoutClick()" [image]="'logout'" [colorSchema]="colorSchemaLogout"></app-button>
        </div>
      </ng-container>
      <!--Game mode-->
      <ng-container *ngIf="currentType === 2">
        <div class="col">
          <app-button [title]="'SKIP TIME'" (onClick)="skipTime()" [image]="'next-button'" [colorSchema]="colorSchemaSkip"></app-button>
        </div>
        <div class="col">
          <app-button [title]="'PAUSE'" (onClick)="onPause()"></app-button>
        </div>
      </ng-container>
      <!--Login page-->
      <ng-container *ngIf="currentType === 3">
        <app-button [title]="'HOME'" (onClick)="backHome()" [image]="'house-button'" [colorSchema]="colorSchemaHome"></app-button>
      </ng-container>
    </div>
  </div>
</div>
