@font-face {
  font-family: "Exo2";
  src: local("Exo2"), url(./assets/fonts/Exo_2/static/Exo2-Regular.ttf)    format("truetype");
}

html, body
{
  margin: 0;
  overflow: hidden;
  font-family: "Exo2", serif;
}

.mat-dialog-container{
  padding: 0 !important;
  border-radius: 20px !important;
}
