<div class="main-container">
  <div class="row m-line">
    <h1 class="col m-text"> Best placement: {{statistics.best_placement}}</h1>
    <h1 class="col m-text"> Best score: {{statistics.max_points}}</h1>
  </div>
  <div class="row m-line">
    <h1 class="col m-text"> Total games played: {{statistics.tot_games}}</h1>
  </div>
  <div class="row m-line">
    <h1 class="col m-text"> Total playing time: {{getTime(statistics.game_time)}}</h1>
  </div>
  <div class="row m-line">
    <h1 class="col m-text"> Total points collected: {{statistics.tot_points}}</h1>
  </div>
</div>
