<div (click)="onClick()" style="position:relative; cursor: pointer" [style.width]="width != null ? width + 'px' : 'auto'">
  <div class="d-flex container-card">
    <img class="card-image" [ngClass]="{'flag-image': (text ==='Country' || text === 'LOCAL') && !image.includes('assets') }"  src="{{image}}" alt="image not found"/>
    <h3 class="card-text">{{text}}</h3>
    <ng-container *ngIf="showArrow">
      <div class="container-card-arrow">
        <img class="card-arrow"  src="./assets/userInfo/right-arrow.png" alt="image not found">
      </div>
    </ng-container>
  </div>
  <!--
  <div class="center-vertically icon" >
  </div>
  <div class="center-vertically" style="width: auto">
  </div>
  <div class="center-vertically arrow" >
  </div>
  -->
</div>
