<div>
    <label for="username" class="form-label mytext" >Username</label>
        <div class="input-group">
            <input type="text" class="form-control myinput" id="username" aria-describedby="basic-addon3" [(ngModel)]="username.value">
        </div>
        <p class="errormsg">{{username.error}}</p>
</div>

<div>
    <label for="email" class="form-label mytext" >Email</label>
        <div class="input-group">
            <input type="text" class="form-control myinput" id="email" aria-describedby="basic-addon3" [(ngModel)]="email.value">
        </div>
        <p class="errormsg">{{email.error}}</p>
</div>

<div>
    <div class="row">
        <label for="password" class="form-label mytext col-4" >Password</label>
    </div>
    <div class="input-group">
        <input type="password" class="form-control myinput" id="password" aria-describedby="basic-addon3" [(ngModel)]="password.value">
    </div>
    <p class="errormsg" >{{password.error}}</p>
</div>  
<div style="padding-top: 20px;">
    <app-button [setCenter]="true" [image]="null" [title]="'REGISTER'" (onClick)="register()"></app-button>
    <app-button [setCenter]="true" [image]="null" [title]="'CANCEL'" [colorSchema]="colorCancel" (onClick)="cancel()"></app-button>
</div>