<div>
    <label for="username" class="form-label mytext" >Username</label>
        <div class="input-group">
            <input type="text" class="form-control myinput" id="username" aria-describedby="basic-addon3">
        </div>
        <p class="errormsg" id="usernameError">Incorrect username</p>
</div>

<div>
    <label for="email" class="form-label mytext" >Email</label>
        <div class="input-group">
            <input type="text" class="form-control myinput" id="email" aria-describedby="basic-addon3">
        </div>
        <p class="errormsg" id="usernameError">Incorrect username</p>
</div>

<div>
    <div class="row">
        <label for="password" class="form-label mytext col-4" >Password</label>
    </div>
    <div class="input-group">
        <input type="password" class="form-control myinput" id="password" aria-describedby="basic-addon3">
    </div>
    <p class="errormsg" id="passwordError">Incorrect password</p>
</div>  
<div style="position:relative; padding-top: 30px;">
    <div class="login-button" (click)="register()">
        <p class="login-text">REGISTER</p>
    </div>
    <div class="register-button" (click)="cancel()">
        <p class="register-text">CANCEL</p>
    </div>
</div>